---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import GlassaSpotlight from "../components/GlassaSpotlight.astro";
import AppShowcase from "../components/AppShowcase.astro";
import About from "../components/About.astro";
---

<Layout title="TinyKite - We build tomorrow.">
  <main class="bg-background min-h-screen text-white selection:bg-blue-500 selection:text-white">
    <Hero />
    <GlassaSpotlight />
    <AppShowcase />
    <About />
  </main>
</Layout>
